:root {
  --profile-button-size: 4vh;
  --profile-button--min-size: 20px;
  --control-panel-button-base-height: 5vh;
  --control-panel-button-margin: 0.5vh;
  --control-panel-height: calc(var(--control-panel-button-margin) * 4 + var(--control-panel-button-base-height) * 4);
  --card-size: 40vh;
}

.user-alias {
  font-size: 5vh;
  font-weight: bold;
}

.stats {
  height: 5vh;
  pointer-events: none;
}

.profile-dashboard-name {
  font-weight: bold;
  text-align: center;
}

.profile-dashboard-credits {
  text-align: center;
}

.align-text {
  text-align: center;
}

.profile-modal-err {
  box-shadow: none;
  border-width: 2px;
  border-color: red;
}

.profile-modal-err:focus {
  box-shadow: none;
  border-width: 3px;
  border-color: red;
}

.profile-modal-fine {
  border-color: lawngreen;
  box-shadow: none;
  border-width: 2px;
}

.profile-modal-fine:focus {
  border-color: lawngreen;
  box-shadow: none;
  border-width: 3px;
}

.wrong-pass {
  border-color: red;

}

.wrong-pass:focus {
  border-color: red;
  box-shadow: none;
  border-width: 2px;
}

.leaderboard-my-prof {
  background-color: lightgreen;
}

.red-text {
  color: red;
}

.red-text:hover {
  color: darkred;
}

.bet-panel {
  position:fixed;
  bottom: calc(var(--control-panel-height) + 1vh);
  margin-left: 1vw;
  width: 98vw;
  z-index: -1;
  animation-name: bet-panel-float-in;
  animation-duration: 2s;
  animation-iteration-count: 1;
}

.my-prof-active {
  background-color: #c2d7ff;
  font-weight: bolder;
}

.bet-input-label {
  text-align: right;
}

.card-panel {
  position: fixed;
  z-index: -1;
  padding: 0;
  margin: 0;
  width: 90vw;
  float: left;
  height: var(--card-size);
}

.change-profile-button {
  position: fixed;
  top: 4vw;
  width: 10vw;
  left: 1vw;
  z-index: 0;
}

.control-panel {
  position: fixed;
  padding-left: 1vw;
  width: 99vw;
  bottom: 0;
  z-index: -1;
}

.control-panel-button {
  width: 20%;
  font-weight: bold;
  margin-bottom: var(--control-panel-button-margin);
  height: var(--control-panel-button-base-height);
}

.control-panel-button-large {
  height: calc(var(--control-panel-button-base-height) * 2);
}

.dealer-card {
  position: fixed;
  z-index: -2;
  bottom: calc(var(--control-panel-height) + var(--card-size) * 0.9);
  height: calc(var(--card-size) / 1.5);
  animation-name: dealer-card-float-in;
  animation-duration: 2s;
  animation-iteration-count: 1;
}

.info-panel-body {
  height: calc(100vh - var(--profile-button-size));
  width: 100vw;
}

.info-panel-button {
  background-color: lightgray;
  font-size: calc(var(--profile-button--min-size) - 4px);
  height: var(--profile-button-size);
  min-height: var(--profile-button--min-size);
  padding-top: 0;
  padding-bottom: 0;
  line-height: var(--profile-button-size);
  font-weight: bold;
}

.modal-end {
  text-align: center;
}

.modal-end-header {
  font-size: 10vw;
  font-weight: bold;
}

.playing-card {
  position: fixed;
  z-index: -1;
  bottom: var(--control-panel-height);
  height: var(--card-size);
  animation-name: card-float-in;
  animation-duration: 2s;
  animation-iteration-count: 1;
}

@keyframes bet-panel-float-in {
  from {
    right: 100vw;
  }
  to {
    right: 1vw;
  }
}

@keyframes card-float-in {
  from {
    bottom: 100vh;
  }
  to {
    bottom: var(--control-panel-height);
  }
}

@keyframes dealer-card-float-in {
  from {
    bottom: 100vh;
  }
  to {
    bottom: calc(var(--control-panel-height) + var(--card-size) * 0.9);
  }
}